.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--virtu-spacing-xs);
}

.description {
  font-size: var(--virtu-font-size-xs);
  color: var(--virtu-color-text-secondary);
}

.error {
  font-size: var(--virtu-font-size-xs);
  color: var(--virtu-color-danger);
}
