.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--boulder-spacing-xs);
}

.description {
  font-size: var(--boulder-font-size-xs);
  color: var(--boulder-color-text-secondary);
}

.error {
  font-size: var(--boulder-font-size-xs);
  color: var(--boulder-color-danger);
}
